<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies</title>
</head>
<body>
    <p>welcome to <%= path %></p>
    <hr>
    <p>Cookies for this path:</p>
    <ul>
        <% for (c in cookies) { %>
            <li><%= cookies[c] %></li>
        <% } %> 
    </ul>
</body>
</html>